body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 246, 0.4);
    transform: scale(1.02);
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background:linear-gradient(32deg, rgb(11, 212, 51) 0%, rgb(25, 228, 99) 100%);
}
.incorrect {
    background:linear-gradient(32deg, rgba(231, 28, 27, 2) 0%, rgb(223, 11, 11, 3) 100%);
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.3rem solid rgb(11, 225, 54);
    border-radius: 55px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 225, 54);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}